<div class="container ">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto main_nav">
        <div class="row">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/course">Course</a>
          </li>
        </div>
        
        <div class="row">
          <img class="img__avatar " src="https://cdn-icons-png.flaticon.com/512/147/147142.png" alt="Avatar">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Huu Tai
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/course/create">Create Course</a>
              <a class="dropdown-item" href="/course/me">My Course</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="">Log out</a>
            </div>
          </li>

        </div>
      </ul>
    </div>
  </nav>
</div>