<div class="container">

    <div class="row">
        <div class="col-sm-3">
            <h1>DK ngay ban nhe</h1>
            <button>Subscrise</button>
        </div>
        <div class="col-sm-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <button>Subscrise</button>
        </div>
    </div>
</div>